<h1>All Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Approval State</th>
    </tr>
  </thead>

  <tbody>
    <% Post.all.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.approval_state %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<h1>Approved Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Approval State</th>
    </tr>
  </thead>

  <tbody>
    <% Post.approved.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.approval_state %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<h1>Pending Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Approval State</th>
    </tr>
  </thead>

  <tbody>
    <% Post.pending.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.approval_state %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<h1>Posts Not Requiring Approval</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Approval State</th>
    </tr>
  </thead>

  <tbody>
    <% Post.not_requiring_approval.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.approval_state %></td>
      </tr>
    <% end %>
  </tbody>
</table>